:root {
    --tr-boolzap-green: #009688;
    --tr-boolzap-grey: #d9dbd4;
    --tr-boolzap-light-grey: #eaeaea;
    --tr-boolzap-dark-grey: #b1b1b1;
    --tr-boolzap-azure: #8edafc;
    --tr-boolzap-azure-grey: #7096a2;
}

.bg-page-top {
    background-color: var(--tr-boolzap-green);
    height: 15vh;
}

.bg-page-bottom {
    background-color: var(--tr-boolzap-grey);
    height: 85vh;
}

.app-window {
    background-color: white;

    height: 90vh;
    width: 80%;

    top: 50px;
    left: 175px;
    overflow: hidden;

    z-index: 100;
}

/* Shared */
.propic-container,
.notification-icon {
    width: 50px;
    height: 50px;
}

.propic-container>img,
.notification-icon {
    border-radius: 50%;
}

/*#region Left Panel */
#left-panel>* {
    width: 100%;
}

/*#region User Zone  */
#left-panel .logged-user {
    background-color: var(--tr-boolzap-light-grey);
}

#left-panel .icon-container {
    color: var(--tr-boolzap-dark-grey);
}

#left-panel .icon-container>* {
    padding: 0 5px;
}

/*#endregion User Zone  */

/*#region Notification area */
.notification-area {
    background-color: var(--tr-boolzap-azure);
}

.notification-icon {
    background-color: white;
    color: var(--tr-boolzap-azure);
    font-size: 1.5rem;
    margin: 5px 25px;
}

.notification-text>a {
    color: var(--tr-boolzap-azure-grey);
    font-size: 0.85rem;
}

/*#endregion Notification area  */

/*#region Search area  */
.contact-research {
    background-color: var(--tr-boolzap-light-grey);
}

.contact-research i {
    color: var(--tr-boolzap-dark-grey);
    background-color: white;
    border-right: 1px solid var(--tr-boolzap-light-grey);
    padding: 10px 30px;
}

.contact-research .search-input:focus-visible {
    outline: none;
}

/*#endregion Search area  */

/*#endregion Left Panel  */

/*#region Right Panel  */
#right-panel {}

/*#endregion Right Panel  */

/* DEBUGGER */

.debug #left-panel {
    background-color: yellow;
}

.debug #right-panel {
    background-color: yellowgreen;
}