:root {
    --tr-boolzap-green: #009688;
    --tr-boolzap-grey: #d9dbd4;
}

.bg-page-top {
    background-color: var(--tr-boolzap-green);
    height: 15vh;
}

.bg-page-bottom {
    background-color: var(--tr-boolzap-grey);
    height: 85vh;
}

.app-window {
    background-color: white;

    height: 90vh;
    width: 80%;

    top: 50px;
    left: 175px;
    overflow: hidden;

    z-index: 100;
}

#left-panel {}

#right-panel {}

/* DEBUGGER */

.debug #left-panel {
    background-color: yellow;
}

.debug #right-panel {
    background-color: yellowgreen;
}