:root {
    --tr-boolzap-light-green: #d5f9ba;
    --tr-boolzap-green: #009688;

    --tr-boolzap-grey: #d9dbd4;
    --tr-boolzap-light-grey: #eaeaea;
    --tr-boolzap-dark-grey: #b1b1b1;
    --tr-boolzap-search-bg: #fafafa;
    --tr-contact-grey: #e9ebeb;

    --tr-boolzap-azure: #8edafc;
    --tr-boolzap-azure-grey: #7096a2;
}

/* Generics */

.bg-page-top {
    background-color: var(--tr-boolzap-green);
    height: 15vh;
}

.bg-page-bottom {
    background-color: var(--tr-boolzap-grey);
    height: 85vh;
}

.app-window {
    background-color: white;

    height: 90vh;
    width: 80%;

    top: 50px;
    left: 175px;
    overflow: hidden;

    z-index: 100;
}

*:focus-visible {
    outline: none;
}

.tr-fade {
    transition: box-shadow 0.25s;
}


/* Shared */
.propic-container,
.notification-icon {
    width: 50px;
    height: 50px;
}

.propic-container>img,
.notification-icon {
    border-radius: 50%;
}

#left-panel>*,
#right-panel>* {
    width: 100%;
}

#left-panel .logged-user,
#right-panel .chat-user {
    background-color: var(--tr-boolzap-light-grey);
}

#left-panel .icon-container,
#right-panel .icon-container,
.chat-message-bar>i {
    color: var(--tr-boolzap-dark-grey);
}

#left-panel .icon-container,
#right-panel .icon-container {
    padding-right: 10px;
}


#left-panel .icon-container>*,
#right-panel .icon-container>* {
    padding: 0 5px;
}


.avatar-info>p,
.chat-contact-info .last-seen {
    font-size: 0.85rem;
    color: var(--tr-boolzap-dark-grey);
}


/*#region Left Panel */

/*#region User Zone  */

/*#endregion User Zone  */

/*#region Notification area */
.notification-area {
    background-color: var(--tr-boolzap-azure);
}

.notification-icon {
    background-color: white;
    color: var(--tr-boolzap-azure);
    font-size: 1.5rem;
    margin: 5px 25px;
}

.notification-text>a {
    color: var(--tr-boolzap-azure-grey);
    font-size: 0.85rem;
}

/*#endregion Notification area  */

/*#region Search area  */
.contact-research {
    background-color: var(--tr-boolzap-search-bg);
}

.contact-research i {
    color: var(--tr-boolzap-dark-grey);
    background-color: white;
    border-right: 1px solid var(--tr-boolzap-light-grey);
    padding: 10px 30px;
}

/*#endregion Search area  */

/*#region Contacts area  */
.contacts-container {
    overflow-y: scroll;
}

.contacts-container .contact {
    background-color: white;
    cursor: pointer;
}

.avatar-info-container>.propic-container {
    width: 65px;
    height: 65px;
}

.avatar-info>h2 {
    font-size: 1.25rem;
    margin: 0;
}

.contacts-container .contact.active {
    background-color: var(--tr-contact-grey);
}

/*#endregion Contacts area  */

/*#endregion Left Panel  */

/*#region Right Panel  */
#right-panel {
    border-left: 1px solid var(--tr-boolzap-grey);
    background-image: url(../img/mine.jpg);

}

/*#region Zona contatto chat  */
.chat-contact-info {
    padding: 0 15px;
}


/*#endregion Zona contatto chat  */

/*#region Zona Chat Display  */
#chat-display {
    overflow-y: scroll;
    padding: 3rem 6rem;
}

#chat-display .chat-message-text.received {
    background-color: white;
}

#chat-display .chat-message-text.sent {
    background-color: var(--tr-boolzap-light-green);
    align-self: flex-end;
}

#chat-display .message-hour {
    font-size: 0.65rem;
    color: var(--tr-boolzap-dark-grey);

    right: 10px;
}

/*#endregion Zona Chat Display  */

/*#region Zona Message Bar  */

/*#endregion Zona Message Bar  */
.chat-message-bar {
    background-color: #ffffff80;
}

.chat-message-bar>* {
    height: 50px;
}

.chat-message-bar .noText {
    box-shadow: inset 0px 0px 20px 0px #aba09f;
}


/*#endregion Right Panel  */

/* DEBUGGER */

.debug #left-panel {
    background-color: yellow;
}

.debug #right-panel {
    background-color: yellowgreen;
}