<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>

    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Link VUEjs -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>

    <!-- Link JavaScript -->
    <script src="js/script.js" defer></script>
    <script src="js/data.js"></script>

    <title>Boolzapp</title>
</head>

<body class="debug">
    <div id="app" class="position-relative">

        <div class="bg-page-top"></div>
        <div class="bg-page-bottom"></div>


        <div class="app-window position-absolute d-flex">

            <!-- Pannello di sinistra -->
            <div id="left-panel" class="col-4 d-flex flex-column">

                <!-- Zona utente -->
                <div class="logged-user col-2 d-flex justify-content-between align-items-center p-2">

                    <div class="user-info-container d-flex align-items-center fw-semibold">
                        <div class="propic-container me-2">
                            <img class="img-fluid" src="img/avatar_io.jpg" alt="Sofia">
                        </div>
                        Sofia
                    </div>

                    <div class="icon-container fs-4">
                        <i class="fas fa-circle-notch"></i>
                        <i class="fas fa-comment-alt"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>

                <!-- Zona Attiva Notifiche -->
                <div class="notification-area col-3 d-flex align-items-center py-2">

                    <div class="notification-icon d-flex justify-content-center align-items-center">
                        <i class="fas fa-bell-slash"></i>
                    </div>

                    <div class="notification-text">
                        <p class="fw-semibold m-auto">Ricevi notifiche di nuovi messaggi</p>
                        <a href="#" target="_blank" class="">Attiva notifiche desktop</a>
                    </div>

                </div>

                <!-- Zona di ricerca contatto/chat -->
                <div class="contact-research col-1 p-2">

                    <div class="bg-white d-flex">
                        <i class="fas fa-search"></i>

                        <input type="text" class="search-input flex-grow-1 border-0 ps-2 tr-fade"
                            :class="{ noText : searchInput.empty === true }" @keyUp="emptyCheck(searchInput)"
                            @keyUp.enter="searchContact(searchInput.text)" v-model="searchInput.text"
                            placeholder="Cerca o inizia una nuova chat">
                    </div>

                </div>

                <!-- Zona contatti/chat -->
                <div class="contacts-container col">

                    <!-- Lista Contatti completa -->
                    <div v-if="contactsToSearch.length === 0" class="contact">

                        <div v-for="(contact, index) in contacts" :class="{ active: index === activeIndex}"
                            class="contact p-2" @click="setActiveContact(index)">

                            <div class="avatar-info-container d-flex align-items-center">
                                <div class="propic-container">
                                    <img class="avatar-icon img-fluid" :src="'img/avatar' + contact.avatar +  '.jpg'"
                                        :alt="contact.name" />
                                </div>

                                <div class="avatar-info ps-3 pt-1">
                                    <h2>{{contact.name}}</h2>
                                    <p>Ultimo messaggio inviato</p>
                                </div>

                            </div>

                        </div>


                    </div>

                    <!-- Lista Contatti ricercati -->
                    <div v-else class="contact">

                        <div v-for="(searchedContact, index) in contactsToSearch"
                            :class="{ active: index === activeIndex}" class="contact p-2"
                            @click="setActiveContact(index)">

                            <div class="avatar-info-container d-flex align-items-center">
                                <div class="propic-container">
                                    <img class="avatar-icon img-fluid"
                                        :src="'img/avatar' + searchedContact.avatar +  '.jpg'"
                                        :alt="searchedContact.name" />
                                </div>

                                <div class="avatar-info ps-3 pt-1">
                                    <h2>{{searchedContact.name}}</h2>
                                    <p>Ultimo messaggio inviato</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Pannello di destra -->
            <div id="right-panel" class="col-8 d-flex flex-column">

                <!-- Zona contatto chat -->
                <div class="chat-user col-2 d-flex justify-content-between align-items-center p-2">

                    <div class="user-info-container d-flex align-items-center">

                        <!-- Header senza ricerca -->
                        <template v-if="contactsToSearch.length === 0">

                            <div class="propic-container">
                                <img class="avatar-icon img-fluid"
                                    :src="'img/avatar' + contacts[activeIndex].avatar +  '.jpg'"
                                    :alt="contacts[activeIndex].name" />
                            </div>

                            <div class="chat-contact-info">

                                <div class="contact-name fw-semibold">
                                    {{ contacts[activeIndex].name }}
                                </div>

                                <div class="last-seen">
                                    Ultimo accesso alle 12:00
                                </div>

                        </template>

                        <!-- Header con ricerca -->
                        <template v-else>

                            <div class="propic-container">
                                <img class="avatar-icon img-fluid"
                                    :src="'img/avatar' + contactsToSearch[activeIndex].avatar +  '.jpg'"
                                    :alt="contactsToSearch[activeIndex].name" />
                            </div>

                            <div class="chat-contact-info">

                                <div class="contact-name fw-semibold">
                                    {{ contactsToSearch[activeIndex].name }}
                                </div>

                                <div class="last-seen">
                                    Ultimo accesso alle 12:00
                                </div>

                        </template>

                    </div>


                    <div class="icon-container fs-4">
                        <i class="fa fa-search"></i>
                        <i class="fas fa-paperclip"></i>
                        <i class="fas fa-ellipsis-v"></i>
                    </div>

                </div>

                <!-- Zona chat -->
                <div id="chat-display" class="flex-grow-1 d-flex flex-column gap-2">

                    <!-- Chat base -->
                    <template v-if="contactsToSearch.length === 0">

                        <div v-for="message in contacts[activeIndex].messages"
                            class="chat-message-text col-5 rounded-4 p-3 position-relative"
                            :class="{ sent: message.status === 'sent', received : message.status === 'received' }">

                            {{ message.message }}

                            <div class="message-hour position-absolute">

                                16:00

                            </div>

                        </div>

                    </template>

                    <!-- Chat con ricerca -->
                    <template v-else>

                        <div v-for="message in contactsToSearch[activeIndex].messages"
                            class="chat-message-text col-5 rounded-4 p-3 position-relative"
                            :class="{ sent: message.status === 'sent', received : message.status === 'received' }">

                            {{ message.message }}

                            <div class="message-hour position-absolute">

                                16:00

                            </div>

                        </div>

                    </template>

                </div>

                <!-- Zona invio messaggio -->
                <div class="chat-message-bar col-2 d-flex justify-content-between align-items-center py-2">

                    <i class="far fa-smile col-1 d-flex align-items-center justify-content-center fs-4"></i>

                    <input type="text" placeholder="Scrivi un messaggio" :class="{ noText : newMessage.empty === true }"
                        class="flex-grow-1 border-0 ps-3 rounded tr-fade" v-model="newMessage.text"
                        @keyUp="emptyCheck(newMessage)" @keyUp.enter="sendMessage(activeIndex)">

                    <i class="fa fa-microphone col-1 d-flex align-items-center justify-content-center fs-4"></i>

                </div>


            </div>

        </div>

    </div>


</body>

</html>